<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- remove advertising dependency -->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <!-- [START fcm_default_icon] -->
        <!-- Default icon. This is used when no icon is set for incoming notification messages.
              -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/pic_logo" />
        <!-- This color used with incoming notification messages.
         This is used when no color is set for the incoming notification message.  -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorLightGrey" />
        <!-- [END fcm_default_icon] -->

        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!-- [END fcm_default_channel] -->

        <!-- android:exported should be set true for main activity, or it won't launch -->
        <activity
            android:name="ua.turskyi.travelling.features.home.view.ui.HomeActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.allcountries.view.ui.AllCountriesActivity"
            android:parentActivityName=".features.home.view.ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".features.flags.view.FlagsActivity"
            android:parentActivityName=".features.home.view.ui.HomeActivity" />

        <provider
            android:name=".utils.TravellingFileProvider"
            android:authorities="ua.turskyi.travelling.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="@string/content_provider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- [START firebase_service] -->
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="@string/scheme_mailto" />
        </intent>
    </queries>
</manifest>